<!-- <div class="card-footer py-3 d-flex justify-content-between">
  <pagination
    (pageChanged)="pageIndexChanged($event)"
    [(ngModel)]="pageIndex"
    [boundaryLinks]="boundaryLinks"
    [itemsPerPage]="pageSize"
    [maxSize]="pageDisplaySize"
    [rotate]="false"
    [totalItems]="TotalItems"
  >
  </pagination>
  <div class="d-flex align-items-center" *ngIf="pageSizeChanger">
    <span>{{ "Show" | translate }}</span>
    <select
      class="mx-1 form-control form-control-sm"
      [(ngModel)]="pageSize"
      (ngModelChange)="pageSizeChanged($event)"
    >
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
    </select>
    <span>{{ "entries" | translate }}</span>
  </div>
</div>
 -->
